<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workflow Manager</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      #app {
        padding: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin-bottom: 1rem;
      }

      input {
        font-size: 1.1rem;
        margin-right: 1rem;
      }

      select {
        font-size: 1.1rem;
      }

      input[type='checkbox'] {
        margin-right: 1rem;
        scale: 1.5;
      }

      input[type='number'] {
        width: 80px;
      }

      select {
        margin-right: 1rem;
      }

      button {
        margin-right: 1rem;
        font-size: 1.1rem;
      }

      pre {
        background-color: #f4f4f4;
        padding: 1rem;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Tasks</h1>

      <button @click="addTask">Add Task</button>

      <p>
        Filters:
        <input type="text" v-model="filters.search" placeholder="search" />
        <select v-model="filters.state">
          <option :value="null">All States</option>
          <option v-for="state in states" :key="state.id" :value="state.id">
            {{ state.name }}
          </option>
        </select>
        <select v-model="filters.priority">
          <option :value="null">All Priorities</option>
          <option
            v-for="priority in priorities"
            :key="priority.id"
            :value="priority.id">
            {{ priority.name }}
          </option>
        </select>
        <select v-model="filters.assignedTo">
          <option :value="null">All People</option>
          <option
            v-for="person in people"
            :key="person.email"
            :value="person.email">
            {{ person.name }}
          </option>
        </select>
        <select v-model="filters.project">
          <option :value="null">All Projects</option>
          <option
            v-for="project in projects"
            :key="project.id"
            :value="project.id">
            {{ project.icon }} {{ project.name }}
          </option>
        </select>
        <!-- <select v-model="filters.tags" multiple>
          <option :value="null">All Tags</option>
          <option v-for="tag in tags" :key="tag.id" :value="tag.id">
            {{ tag.name }}
          </option>
        </select> -->
        <button @click="clearFilters">Clear Filters</button>

        Tasks: {{ filteredTasks.length }} / {{ tasks.length }}
      </p>

      <p v-if="selectedTasks.length">
        Bulk Update:
        <select v-model="bulkUpdates.state">
          <option :value="null">--</option>
          <option v-for="state in states" :key="state.id" :value="state.id">
            {{ state.name }}
          </option>
        </select>
        <select v-model="bulkUpdates.priority">
          <option :value="null">--</option>
          <option
            v-for="priority in priorities"
            :key="priority.id"
            :value="priority.id">
            {{ priority.name }}
          </option>
        </select>
        <select v-model="bulkUpdates.assignedTo">
          <option :value="null">--</option>
          <option
            v-for="person in people"
            :key="person.email"
            :value="person.email">
            {{ person.name }}
          </option>
        </select>
        <select v-model="bulkUpdates.project">
          <option :value="null">--</option>
          <option
            v-for="project in projects"
            :key="project.id"
            :value="project.id">
            {{ project.icon }} {{ project.name }}
          </option>
        </select>
        <button @click="applyBulkUpdate">Update</button>
        <button @click="selectedTasks = []">Clear</button>
      </p>

      <ul>
        <li v-for="(task, index) in filteredTasks" :key="task.id">
          <input type="checkbox" v-model="selectedTasks" :value="task.id" />

          <input
            type="text"
            v-model="task.title"
            @input="updateTask(index, 'title', $event.target.value)" />
          <select
            v-model="task.state"
            @change="updateTask(index, 'state', $event.target.value)">
            <option v-for="state in states" :key="state.id" :value="state.id">
              {{ state.name }}
            </option>
          </select>

          <select
            v-model="task.priority"
            @change="updateTask(index, 'priority', $event.target.value)">
            <option
              v-for="priority in priorities"
              :key="priority.id"
              :value="priority.id">
              {{ priority.name }}
            </option>
          </select>

          <input
            type="number"
            v-model="task.businessValue"
            @input="updateTask(index, 'businessValue', $event.target.value)"
            maxlength="3" />

          <select
            v-model="task.assignedTo"
            @change="updateTask(index, 'assignedTo', $event.target.value)">
            <option value="">--</option>
            <option
              v-for="person in people"
              :key="person.email"
              :value="person.email">
              {{ person.name }}
            </option>
          </select>

          <select
            v-model="task.project"
            @change="updateTask(index, 'project', $event.target.value)">
            <option value="">--</option>
            <option
              v-for="project in projects"
              :key="project.id"
              :value="project.id">
              {{ project.icon }} {{ project.name }}
            </option>
          </select>

          <!-- allow selection of multiple tags but display all options in a single line-->
          <input
            type="text"
            v-model="task.tags"
            @input="updateTask(index, 'tags', $event.target.value)" />

          <!-- <select
            multiple
            contextmenu
            v-model="task.tags"
            @change="updateTask(index, 'tags', Array.from($event.target.selectedOptions).map(option => option.value))">
            <option v-for="tag in tags" :key="tag.id" :value="tag.id">
              {{ tag.name }}
            </option>
          </select> -->

          <input
            type="date"
            v-model="task.dueAt"
            @input="updateTask(index, 'dueAt', $event.target.value)" />

          <button @click="removeTask(index)">Remove</button>
        </li>
      </ul>

      <p>
        <label for="debug">
          Debug?
          <input type="checkbox" id="debug" v-model="debug" />
        </label>
      </p>

      <div v-if="debug">
        <p>Selected Tasks</p>
        <pre>{{ selectedTasks }}</pre>
        <p>Bulk Updates</p>
        <pre>{{ bulkUpdates }}</pre>
        <p>Filters</p>
        <pre>{{ filters }}</pre>
        <p>Filtered Tasks</p>
        <pre>{{ filteredTasks }}</pre>
        <p>Tasks</p>
        <pre>{{ tasks }}</pre>
        <p>States</p>
        <pre>{{ states }}</pre>
        <p>Priorities</p>
        <pre>{{ priorities }}</pre>
        <p>People</p>
        <pre>{{ people }}</pre>
        <p>Projects</p>
        <pre>{{ projects }}</pre>
        <p>Tags</p>
        <pre>{{ tags }}</pre>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, onMounted, onBeforeUnmount, computed } = Vue

      createApp({
        setup() {
          const tasks = ref([])

          const states = ref([
            { id: 1, name: 'To Do' },
            { id: 2, name: 'In Progress' },
            { id: 3, name: 'Done' },
            { id: 4, name: 'Archived' },
          ])

          const priorities = ref([
            { id: 1, name: 'Low' },
            { id: 2, name: 'Medium' },
            { id: 3, name: 'High' },
            { id: 4, name: 'Critical' },
          ])

          const people = ref([
            { email: 'krushn', name: 'Krushn' },
            { email: 'ankita', name: 'Ankita' },
            { email: 'sahil', name: 'Sahil' },
            { email: 'tushar', name: 'Tushar' },
            { email: 'kaushal', name: 'Kaushal' },
          ])

          const projects = ref([
            { id: 1, name: 'workflow app', color: 'red', icon: '🔥' },
            { id: 2, name: 'NST', color: 'blue', icon: '🌊' },
            { id: 3, name: 'Siemens', color: 'green', icon: '🚀' },
            { id: 4, name: 'mentonest', color: 'pink', icon: '🌞' },
            { id: 5, name: 'Home', color: 'orange', icon: '🏠' },
          ])

          const tags = ref([
            { id: 1, name: 'Bug', color: 'red' },
            { id: 2, name: 'Feature', color: 'green' },
            { id: 3, name: 'Improvement', color: 'blue' },
            { id: 4, name: 'Documentation', color: 'yellow' },
            { id: 5, name: 'Design', color: 'purple' },
            { id: 6, name: 'Chore', color: 'orange' },
            { id: 7, name: 'Test', color: 'pink' },
          ])

          const addTask = () => {
            tasks.value.push({ ...TASK_TEMPLATE, id: generateTaskId() })
            saveTasks()
          }

          const removeTask = (index) => {
            tasks.value.splice(index, 1)
            saveTasks()
          }

          const updateTask = (index, key, value) => {
            tasks.value[index][key] = value
            tasks.value[index].updatedAt = new Date()
            saveTasks()
          }

          const saveTasks = () => {
            // save to local storage
            localStorage.setItem('tasks', JSON.stringify(tasks.value))
          }

          const loadTasks = () => {
            // load from local storage
            tasks.value = JSON.parse(localStorage.getItem('tasks')) || []
          }

          const savedCurrentTaskId = localStorage.getItem('currentTaskId')

          if (!savedCurrentTaskId) {
            localStorage.setItem('currentTaskId', 0)
          }

          const currentTaskId = ref(
            savedCurrentTaskId ? parseInt(savedCurrentTaskId) : 1
          )

          const generateTaskId = () => {
            currentTaskId.value++
            localStorage.setItem('currentTaskId', currentTaskId.value)
            return currentTaskId.value
          }

          const TASK_TEMPLATE = {
            id: null,
            title: '',
            description: '',
            state: 1,
            priority: 1,
            businessValue: 100,
            assignedTo: '',
            project: '',
            tags: [],
            dueAt: null,
            createdAt: new Date(),
            updatedAt: new Date(),
          }

          onMounted(() => {
            loadTasks()
          })

          onBeforeUnmount(() => {
            saveTasks()
          })

          const selectedTasks = ref([])

          const filters = ref({
            search: '',
            state: null,
            priority: null,
            assignedTo: null,
            project: null,
            // tags: [],
          })

          const filteredTasks = computed(() => {
            return tasks.value.filter((task) => {
              const search = filters.value.search.trim().toLowerCase()

              return (
                (search
                  ? task.title.toLowerCase().includes(search) ||
                    task.description.toLowerCase().includes(search)
                  : true) &&
                (filters.value.state
                  ? parseInt(task.state) === parseInt(filters.value.state)
                  : true) &&
                (filters.value.priority
                  ? parseInt(task.priority) === parseInt(filters.value.priority)
                  : true) &&
                (filters.value.assignedTo
                  ? `${task.assignedTo}` === `${filters.value.assignedTo}`
                  : true) &&
                (filters.value.project
                  ? parseInt(task.project) === parseInt(filters.value.project)
                  : true)
              )

              // && (
              //   filters.value.tags
              //     ? task.tags.some((tag) => filters.value.tags.includes(tag))
              //     : true
              // )
            })
          })

          const clearFilters = () => {
            filters.value = {
              search: '',
              state: null,
              priority: null,
              assignedTo: null,
              project: null,
              // tags: [],
            }
          }

          const bulkUpdates = ref({
            state: null,
            priority: null,
            assignedTo: null,
            project: null,
          })

          const applyBulkUpdate = () => {
            const update = {}
            if (bulkUpdates.value.state) {
              update.state = bulkUpdates.value.state
            }

            if (bulkUpdates.value.priority) {
              update.priority = bulkUpdates.value.priority
            }

            if (bulkUpdates.value.assignedTo) {
              update.assignedTo = bulkUpdates.value.assignedTo
            }

            if (bulkUpdates.value.project) {
              update.project = bulkUpdates.value.project
            }

            selectedTasks.value.forEach((taskId) => {
              const index = tasks.value.findIndex((task) => task.id === taskId)

              tasks.value[index] = {
                ...tasks.value[index],
                ...update,
              }

              tasks.value[index].updatedAt = new Date()
            })

            saveTasks()
          }

          const debug = ref(false)

          return {
            tasks,
            states,
            priorities,
            people,
            projects,
            tags,
            selectedTasks,
            filters,
            filteredTasks,
            bulkUpdates,
            debug,
            addTask,
            removeTask,
            updateTask,
            clearFilters,
            applyBulkUpdate,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>